ALCHEMY_API_KEY=your_alchemy_key_here
DATABASE_URL=your_supabase_url_here
DATABASE_KEY=your_supabase_service_role_key_here
X402_WALLET_ADDRESS=your_base_usdc_wallet_address_here
IPFS_GATEWAY_URL=https://cloudflare-ipfs.com/ipfs/
